/* Home Page Styles */

* {
    background-color: #f9ede9;
    color: #050403;
    font-family: "Arial", sans-serif;
}

h1 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin: 0%;
    border-bottom-color: #FA4132;
    border-bottom-style: solid;
    border-bottom-width: 0.125em;
}

.title {
    padding: 20px 10px;
}

.table-of-contents ul {
    list-style: none;
    padding-left: 0;
}

.table-of-contents li {
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0.5rem;
    padding-top: 0.75rem;
}

.table-of-contents li a {
    color: #050403;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 2rem;
    vertical-align: top;
    padding-left: 0.5em;
}